* {
    box-sizing: border-box;
    font-family: FuturaPTWeb, Futura, Trebuchet MS, Arial, sans-serif;
  }
  
  header {
    
  }

  a, a:visited {
    color: inherit;
}

  a:hover {
    color: gray;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }

  /* Style the top navigation bar */
  .topnav {
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 35px;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #AAB7A6;
    z-index: 9999;
  }
  .topnav ul {
    width: 100%;
    list-style: none;
    text-align: center;
  }

  .topnav li {
    display: inline-block;
    float: left;
  }

  .logo img{
    height: 140px;
    margin-top: -20px;
    margin-bottom: -60px;
  }
  
  /* Style the topnav links */

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change color on hover */
  .topnav a:hover {
    color: pink;
  }
  
  /* Style the hero */
  
 .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: #AAB7A6;
 }

 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }

 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }

 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: gray;
    color: white;
    margin-top: 5rem;
    border: none;
    padding: 10px;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: pink;
 }

 /* Style the section titles */
  
 .section-title {
  padding: 60px;
  font-size: 32px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
 }

  /* About Me Section */
  #about-me {
    background-color: #C7A583;
  }

  .about h2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
    font-size: 32px;
    color: #fff;
  }

  .bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    color: #fff
    
  }

  .bio img {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; */
    /* margin: 0 auto; */
    /* padding-left: 20px; */
  }

  /* My Work Section */

  .highlighted-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }
  
  .highlighted-project h2 {
    
  }

  .highlighted-project img {
    height: 550px;
  }  

  .highlighted-project img:hover{
    opacity: 0.75;
  }

  .highlighted-project p {
    padding-top: 60px;
    padding-right: 40px;
  }

  .schuler {
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;    
  }

  /* Contact Me Section */


  .footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 60px;
  }

  .footer-navigation ul {
    list-style: none;
  }

  .footer-navigation a {
    text-decoration: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .social-media ul{
    list-style-type: none;
    overflow: hidden;
  }

  .social-media li {
    float: right;
  }

  .social-media a i {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 30px;
  }

  /* Style the footer */

  .copyright {
  }

  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
  }