* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style the top navigation bar */
  .topnav {
    padding: 20px 35px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    display:flex;
    justify-content: space-between;
    list-style: none;
    filter: brightness(60%);
  }
  .topnav ul {
    width: 100%;
    list-style: none;
    text-align: center;
  }

  .topnav li {
    padding-bottom: px;
    display: inline-block;
    float: left;
  }

  .logo{
    font-size: 36px;
  }
  
  /* Style the topnav links */

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-color:
    color: pink;
  }
  
  /* Style the hero */
  
 .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;

 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
 }

 /* Style the section titles */
  
 .section-title {
  padding: 60px;
  font-size: 32px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
 }

  /* About Me Section */

  .about {
    display:flex;
    flex-direction: row;
  }

  .bio p img{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* My Work Section */

  .projects {
    display: flex;
  }

  

  /* Contact Me Section */

  .social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }

  /* Style the footer */

  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
  }